html, body {
 padding: 0px;
 margin: 0px;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;

}

header{
    position : relative;
    
    background-color: rgb(31, 31, 31);
}

.logo{
    position: absolute;
    justify-content: start;
    text-align: center;
    top: 20%;
    left: 2%;
    font-size: 20px;
    color: rgb(236, 168, 129);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.topnav{
    display: flex;
    justify-content: center;
    /* background-color: rgb(31, 31, 31); */
}

.topnav a {
    transition: ease-in-out 0,3s;
    font-family: 'Trebuchet MS', sans-serif;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a.active {
    background-color: rgb(230, 230, 230);
    color: rgb(94, 94, 94);
  }

  .topnav a:not(.active):hover {
    transition: ease-in-out 0.3s;
    background-color: #525050;
    color: white;
  }
 
  .main-home-section{
      position :relative;
      height: 600px;
      width: 100%;
      display: flex;
      justify-content: center;
  }

  .main-image{
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(0.6);
  }

  .main-text{
      padding-top: 130px ;
      position : absolute;
      text-align: center;

      color: whitesmoke;
      
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 70px;
      font-weight: 400;
  }

  .company-logos{
      width: 100px;
      padding: 5px;
  }

  .company-logos-bar{
      padding-inline: 200px;
      display : flex ;
      align-items: center;
      justify-content: space-around;
      background-color: rgb(230, 230, 230);
      height: 10vh;
      position: relative;
  }

  .twocars{
        width: 300px;
  }

  .Reviews{
      margin-top: 70px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
  }

  figure{
   height: 200px;
   width: 300px;
  }

  .stars{
    width: 300px;
    height: 100px;
    display:flex;
    justify-content: center;
  }

  .stars img{
    width: 200px;
    height: 100%;
  }

  .ratings{
      box-shadow: 1px 1px 20px rgb(170, 170, 170);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgb(252, 252, 252);
      width: 300px;
      height: 200px;
  }
  
  .ratings p{
      margin-top: 0px;
      line-height: 40px;
      text-align: center;
      font-weight: 600;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .avantages{
    background-image:url(./torsten.jpg);
    background-position: center;
      display: flex;
      align-items: center;
      height: 400px;
      margin-top: 80px;
      background-color: rgb(39, 39, 39);
  }

  .avantage-single{
      margin-right: 50px;
      margin-block: 25px;
      gap: 30px;
      display: flex;
      align-items: center;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 24px;
      color: rgb(250, 250, 250);
      font-weight: bold;
    }


    .offers{
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .offer{
        padding: 15px;
        width: 400px;
        height: 200px;
        display:flex;
        align-items:center ;
        justify-content: center;
    }

    .image-offer{
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.8);
    }

    .image-offer:hover{
        filter: brightness(0.4);
        transition: 0.3s ease-in-out;
    }

    .offer-text{
    color:white;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    position: absolute;
    text-align: center;
    }

.bar-offer{
    position: absolute;
    margin-top: 50px;
    height: 3px;
    background-color: rgb(255, 200, 149);
}

.downbar{
    margin-top: 100px;
    background-color: rgb(206, 206, 206);
    color: rgb(90, 90, 90);
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer{
    padding-inline: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: rgb(39, 39, 39);
    color: seashell;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.social-media{
    display: flex;
    justify-content: right;
    gap : 10px;
    color: seashell;
}

/*///////////////////////contact////////////////////////*/

label{
    color: seashell;
}

input[type=text], textarea {
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
  }
  
  
  input[type=submit] {
    background-color: #ecad8f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: #f7a74b;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    background-image:url(./carcontact.jpg);
    padding: 40px;
  }
  
  form{
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: linear-gradient(rgba(255, 255, 255, 0.164), rgb(0, 0, 0));
      width: 400px;
      padding: 20px 0;
  }

  .centery{
    display: flex;
    flex-direction: column;

  }

/*///////////////////////gallery////////////////////////*/


.flex-row{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 24%;
    max-width: 25%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    width: 100%;
  }

  .hover{
      transition: 0.2s;
  }

  .hover:hover{
      filter: brightness(0.6);
      transition: 0.2s ease-in-out;
      cursor: pointer;
  }

  #lightbox.active{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  #lightbox{
      display: none;
      width: 100%;
      height: 100%; 
      background-color: rgba(0, 0, 0, 0.685) ;
      position: fixed;
      z-index: 30;
      top: 0;
  }

  img.expand{
      height: 80%;
      box-shadow: #f2f2f29d 1px 1px 20px;
  }


  /*/////////////////media queries////////////////*/

            @media (max-width: 1000px){
                .twocars{
                    width: 150px;
                }
                
                .company-logos{
                    width: 70px;
                }
                .company-logos-bar{
                    padding-inline: 100px;
                }

            }

            @media (max-width:735px){
        
                .avantage-single{
                    line-height: 30px;
                }
                .header{
                    display: flex;
                    flex-direction: column;
                }
                .logo{
                    padding-top: 10px;
                    padding-bottom: 20px;
                    position: static;
                }
                .main-text{
                    font-size: 60px;
                    padding-top: 170px;
                }

                .twocars{
                    width: 100px;
                }
                
                .company-logos{
                    width: 40px;
                }
                .company-logos-bar{
                    padding-inline: 50px;
                }
                .downbar{
                    font-size: 10px;
                }
                .footer{
                    font-size: 10px;
                    justify-content: space-around;
                }
/* 
                .centery{
                padding-block: 20px;
                } */

                .social-media img{
                    width: 10px;
                }

            }

            @media (max-width: 900px) {
                .column {
                  flex: 48%;
                  max-width: 50%;
                }
              }

              @media (max-width: 500px) {
                .column {
                  flex: 99%;
                  max-width: 100%;
                }
              }
            
/* ///////////////////////////////////////////////////// */


